Options -MultiViews
RewriteEngine On

RewriteBase /Proyecto_IS/proyectoSemestreIS/sistema/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]